

.gifts-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  transition-duration: 0.4s;
}

.gift {
  width: 30%;
  padding: 10px;
  margin: 15px;
  border: 1px dashed aquamarine;
  border-radius: 15px;
  position: relative;
  transition-duration: 0.4s;
  padding-bottom: 40px;
}

.gift__name {
  font-family: 'Droid Sans', arial, serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.gifts__image {
  width: 100%;
  height: auto;

}

.gift__description {
  font-family: 'Droid Sans', arial, serif;
  font-size: 16px;
  margin-bottom: 8px;
}
.gift__price {
  font-family: 'Droid Sans', arial, serif;
  font-size: 16px;
  margin-bottom: 8px;
}

.gift-booked:before {
  content: "";
  top: 0;
  bottom: 31px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.7;
  font-size: 40px;
  color: blue;
  background-color: beige;
  position: absolute;
  transition-duration: 0.4s;
  border-radius: 15px;
  height: 100%;
}
.gift-booked:after {
  content: "ЗАБРОНИРОВАНО";
  font-family: 'AGBengaly', arial;
  position: absolute;
  font-size: 30px;
    left: 0;
    right: 0;
    top: 40%;
  color: red;
  transition-duration: 0.4s;
}
.gift-booked-by-me:after {
  content: "";
    transition-duration: 0.4s;
}
.gift-booked-by-me .booked-tick {
  display: block;
  position: absolute;
   left: 0;
   right: 0;
   top: 15%;
     transition-duration: 0.4s;
}
.booked-tick {
  display: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #008CBA;
  color: white;
}
button {
  border-radius: 6px;
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  transition-duration: 0.4s;
  width: 95%;
      bottom: 0px;
      position: absolute;
      left: 0;
      margin: 10px;
      right: 10px;
}
.list-header {
  font-family: 'AGBengaly', arial;
}
@media only screen and (max-width: 1400px) {
.gifts-container {
  width: 100%;
  }
.gift {
  width: 40%;
  }
.gifts__image {
  width: 100%;
  height: auto
  }
}
@media only screen and (max-width: 890px) {
.gifts-container {
  width: 100%;
  }
.gift {
  width: 100%;
  }
.gifts__image {
  width: 100%;
  height: auto
  }
}
