@import url(http://allfont.ru/allfont.css?fonts=droid-sans);

.gifts-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: 1600px;
  margin: 0 auto;
}

.gift {
  width: 30%;
  padding: 10px;
  margin: 15px;
  border: 1px dashed aquamarine;
  border-radius: 15px;
  position: relative;
  transition-duration: 0.4s;
}
.gift__name {
  font-family: 'Droid Sans', arial, serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.gift__description {
  font-family: 'Droid Sans', arial, serif;
  font-size: 16px;
  margin-bottom: 8px;
}
.gift__price {
  font-family: 'Droid Sans', arial, serif;
  font-size: 16px;
  margin-bottom: 8px;
}

.gift-booked:before {
  content: "";
  top: 0;
  bottom: 31px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.7;
  font-size: 40px;
  color: blue;
  background-color: beige;
  position: absolute;
  transition-duration: 0.4s;
  border-radius: 15px;
}
.gift-booked:after {
  content: "Забронировано";
  position: absolute;
  top: 200px;
  font-size: 30px;

  left: 33%;
  color: blue;
}
.gift-booked-by-me:after {
  content: "";
}
.gift-booked-by-me .booked-tick {
  display: block;
  position: absolute;
  left: 100px;
  top: 100px;
}
.booked-tick {
  display: none;
}

button:hover {
  background-color: #008CBA;
  color: white;
}
button {
  border-radius: 6px;
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  transition-duration: 0.4s;
  width: 450px;
}
